capstone5/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "capstone5"
		},
		"ls_AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_AzureDatabricks'"
		},
		"ls_AzureDatabricksR_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_AzureDatabricksR'"
		},
		"ls_AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://capstone05.dfs.core.windows.net"
		},
		"ls_AzureDatabricksR_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0521-091753-vk41t6si"
		},
		"ls_AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://capstone05key.vault.azure.net/"
		},
		"ls_AzureSQLDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlserver-capstone-g3.database.windows.net"
		},
		"ls_AzureSQLDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "sqldb-manufacturing-source"
		},
		"ls_AzureSQLDatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_manufacturing_source')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_machine_master",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SqlServer_MachineMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Adls_MachineMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_supplier_master",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_machine_master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SqlServer_SupplierMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_Adls_SupplierMaster",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "transform_silver_layer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "copy_supplier_master",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/updazvmnag_1777788721004@npupgradassessment.onmicrosoft.com/02_Silver_Data_Cleaning (5)",
							"baseParameters": {
								"df_run_id": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"df_pipeline_name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricksR",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "generate_gold_supplier_dim",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transform_silver_layer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/updazvmnag_1777788721004@npupgradassessment.onmicrosoft.com/02_Participant_3_Analytics_Eng/01_Supplier_SCD_Type_2"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricksR",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "optimize_delta_tables",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "compile_gold_analytics",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/updazvmnag_1777788721004@npupgradassessment.onmicrosoft.com/02_Participant_3_Analytics_Eng/03_Delta_Table_Operations"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricksR",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "compile_gold_analytics",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "generate_gold_supplier_dim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/updazvmnag_1777788721004@npupgradassessment.onmicrosoft.com/02_Participant_3_Analytics_Eng/02_Gold_Analytics_Tables"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureDatabricksR",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "optimize_delta_tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "batch_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "batch_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "production_date",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "production_date",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "machine_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "machine_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "supplier_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "supplier_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "product_line",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "product_line",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "shift",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "shift",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "produced_qty",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "produced_qty",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "total_defect_qty",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "total_defect_qty",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "defect_percentage",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "defect_percentage",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "batch_rejection_flag",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										},
										"sink": {
											"name": "batch_rejection_flag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_gold_parquet",
								"type": "DatasetReference",
								"parameters": {
									"folder_path": "staging_for_sql/gold_quality"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresql_gold_tables",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "gold_quality_summary"
								}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "optimize_delta_tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "machine_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "machine_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "machine_name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "machine_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "total_produced",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "total_produced",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "total_defects",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "total_defects",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "machine_defect_rate",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "machine_defect_rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "high_risk_machine_flag",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										},
										"sink": {
											"name": "high_risk_machine_flag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_gold_parquet",
								"type": "DatasetReference",
								"parameters": {
									"folder_path": "staging_for_sql/gold_machine"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresql_gold_tables",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "gold_machine_defect_summary"
								}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "optimize_delta_tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "supplier_id",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "supplier_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "supplier_name",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "supplier_name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "total_supplied_qty",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "total_supplied_qty",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "total_supplier_defects",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "total_supplier_defects",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "supplier_defect_rate",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "supplier_defect_rate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "supplier_quality_score",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "supplier_quality_score",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_gold_parquet",
								"type": "DatasetReference",
								"parameters": {
									"folder_path": "staging_for_sql/gold_supplier"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_azuresql_gold_tables",
								"type": "DatasetReference",
								"parameters": {
									"table_name": "gold_supplier_quality_scorecard"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SqlServer_MachineMaster')]",
				"[concat(variables('factoryId'), '/datasets/ds_Adls_MachineMaster')]",
				"[concat(variables('factoryId'), '/datasets/ds_SqlServer_SupplierMaster')]",
				"[concat(variables('factoryId'), '/datasets/ds_Adls_SupplierMaster')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureDatabricksR')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_gold_parquet')]",
				"[concat(variables('factoryId'), '/datasets/ds_azuresql_gold_tables')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Adls_MachineMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "machine_master.csv",
						"folderPath": "raw/machine_master",
						"fileSystem": "manufacturing-lakehouse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Adls_SupplierMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "supplier_master.csv",
						"folderPath": "raw/supplier_master",
						"fileSystem": "manufacturing-lakehouse"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SqlServer_MachineMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "machine_id",
						"type": "varchar"
					},
					{
						"name": "machine_name",
						"type": "varchar"
					},
					{
						"name": "plant",
						"type": "varchar"
					},
					{
						"name": "machine_type",
						"type": "varchar"
					},
					{
						"name": "install_date",
						"type": "date"
					},
					{
						"name": "machine_status",
						"type": "varchar"
					},
					{
						"name": "last_updated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "machine_master"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SqlServer_SupplierMaster')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "supplier_id",
						"type": "varchar"
					},
					{
						"name": "supplier_name",
						"type": "varchar"
					},
					{
						"name": "city",
						"type": "varchar"
					},
					{
						"name": "supplier_rating",
						"type": "varchar"
					},
					{
						"name": "contract_status",
						"type": "varchar"
					},
					{
						"name": "last_updated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "supplier_master"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_gold_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folder_path",
							"type": "Expression"
						},
						"fileSystem": "manufacturing-lakehouse"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "notebook_name",
						"type": "UTF8"
					},
					{
						"name": "records_read",
						"type": "INT64"
					},
					{
						"name": "records_rejected",
						"type": "INT64"
					},
					{
						"name": "records_inserted",
						"type": "INT64"
					},
					{
						"name": "status",
						"type": "UTF8"
					},
					{
						"name": "run_id",
						"type": "UTF8"
					},
					{
						"name": "run_timestamp",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_azuresql_gold_tables')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDatabase",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQLDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "StorageAccountConnectionString"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-7405614439769553.13.azuredatabricks.net",
					"clusterId": "0521-091753-vk41t6si",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_AzureDatabricks_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureDatabricksR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405614439769553.13.azuredatabricks.net/",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_AzureDatabricksR_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_AzureDatabricksR_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureSQLDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_AzureSQLDatabase_properties_typeProperties_server')]",
					"database": "[parameters('ls_AzureSQLDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_AzureSQLDatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_AzureKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqlserverpasswordtemp"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureKeyVault')]"
			]
		}
	]
}